useDynLib(MasterBayes)
import(genetics)
import(coda)
export(
  MCMCped,
  mismatches,
  MLE.beta,
  MLE.popsize,
  MLE.ped, 
  PdataPed,
  is.PdataPed,
  beta.loglik,
  popsize.loglik,
  fillX.G,
  GdataPed,
  is.GdataPed,
  genotype.list,
  genotypeD,
  is.genotypeD,
  getXlist,
  modeP,
  modeG,
  priorPed,
  is.priorPed,
  reordXlist,
  simgenotypes,
  simpedigree,
  startPed,
  is.startPed,
  tunePed,
  is.tunePed,
  varPed,
#  getPost,
#  GtoC,
#  ErrorCheck,
#  getsPandtP,
  legalG,
  order.ped,
  extractA 
) 
S3method(summary, genotypeD)
S3method(print, genotypeD)
S3method('[', genotypeD)
S3method('[<-', genotypeD)


